<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Required meta tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="au theme template">
  <meta name="author" content="Minh Vuong">
  <meta name="keywords" content="au theme template">

  <link rel="icon" href="/favicon.png">
  <script src="/socket.io/socket.io.js"></script>
  <!-- Title Page-->
  <title>Seeding me!</title>

  <!-- Fontfaces CSS-->
  <link href="/css/font-face.css" rel="stylesheet" media="all">
  <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
  <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

  <!-- Bootstrap CSS-->
  <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

  <!-- Vendor CSS-->
  <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
  <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
  <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
  <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
  <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
  <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
  <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

  <!-- Main CSS-->
  <link href="/css/theme.css" rel="stylesheet" media="all">
  <style>
    .disabledDOM {
      pointer-events: none;
      opacity: 0.4;
    }
    .row-15{
      padding-left: 15px;
    }
  </style>
</head>
<body class="animsition">

  <div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
      <div class="header-mobile__bar">
        <div class="container-fluid">
          <div class="header-mobile-inner">
            <a class="logo" href="/"><img src="images/icon/logo.png" alt="Cool Admin" /></a>
            <button class="hamburger hamburger--slider" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <nav class="navbar-mobile">
        <div class="container-fluid">
          <ul class="navbar-mobile__list list-unstyled">
            <li name="menu--home">
                <a href="#"><i class="fas fa-home"></i>Trang chủ</a>
            </li>
            <li name="menu--new-post">
                <a href="#"><i class="fas fa-plus-circle"></i>Thêm bài seeding</a>
            </li>
            <li name="menu--inc-like">
                <a href="#"><i class="fa fa-flag"></i>Like & rate Page</a>
            </li>
            <li name="menu--comment">
                <a href="#"><i class="fa fa-comment"></i>Comment kiếm coin</a>
            </li>
            <li name="menu--report">
                <a href="#"><i class="fa fa-warning"></i>Báo lỗi</a>
            </li>
            <li name="menu--about">
                <a href="#"><i class="fa fa-group"></i>Về chúng tôi</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
      <a class="logo" href="#"><img src="images/icon/logo.png" alt="Cool Admin" /></a>
      <div class="menu-sidebar__content js-scrollbar1">
          <nav class="navbar-sidebar">
              <ul class="list-unstyled navbar__list">
                <li class="active side-item" name="menu--home">
                    <a href="#"><i class="fas fa-home"></i>Trang chủ</a>
                </li>
                <li class="side-item" name="menu--new-post">
                    <a href="#"><i class="fas fa-plus-circle"></i>Thêm bài seeding</a>
                </li>
                <li class="side-item" name="menu--inc-like">
                    <a href="#"><i class="fa fa-flag"></i>Like & rate Page</a>
                </li>
                <li class="side-item" name="menu--comment">
                    <a href="#"><i class="fa fa-comment"></i>Comment kiếm coin</a>
                </li>
                <li class="side-item" name="menu--report">
                    <a href="#"><i class="fa fa-warning"></i>Báo lỗi</a>
                </li>
                <li class="side-item" name="menu--about">
                    <a href="#"><i class="fa fa-group"></i>Về chúng tôi</a>
                </li>
              </ul>
          </nav>
      </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header">
                            <input class="au-input au-input--xl" type="text" name="search" placeholder="Tìm kiếm bài đăng của bạn..." />
                            <button class="au-btn--submit" type="button">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                        <div class="header-button">
                          <div class="noti-wrap">
                            <div class="noti__item js-item-menu">
                              Đang online: <span id="online-quantity"></span> người
                            </div>
                          </div>
                            <!--<div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-comment-more"></i>
                                    <span class="quantity">1</span>
                                    <div class="mess-dropdown js-dropdown">
                                        <div class="mess__title">
                                            <p>You have 2 news message</p>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                            </div>
                                            <div class="content">
                                                <h6>Michelle Moreno</h6>
                                                <p>Have sent a photo</p>
                                                <span class="time">3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-04.jpg" alt="Diane Myers" />
                                            </div>
                                            <div class="content">
                                                <h6>Diane Myers</h6>
                                                <p>You are now connected on message</p>
                                                <span class="time">Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="mess__footer">
                                            <a href="#">View all messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-email"></i>
                                    <span class="quantity">1</span>
                                    <div class="email-dropdown js-dropdown">
                                        <div class="email__title">
                                            <p>You have 3 New Emails</p>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, 3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, April 12,,2018</span>
                                            </div>
                                        </div>
                                        <div class="email__footer">
                                            <a href="#">See all emails</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="account-wrap">
                                <div id="account-item" class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="https://graph.facebook.com/<%= user.id %>/picture?type=normal" alt="<%= user.name %>" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#"><%= user.name %></a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                          <div class="image">
                                            <a href="https://www.facebook.com/<%= user.id %>" target="_blank">
                                              <img src="https://graph.facebook.com/<%= user.id %>/picture?type=normal" alt="<%= user.name %>" />
                                            </a>
                                          </div>
                                          <div class="content">
                                              <h5 class="name"><%= user.name %></h5>
                                              <span class="email"><%= user.id %></span>
                                          </div>
                                          <div>
                                            <i class="fa fa-user"></i>
                                            <% let t = user.userType, e = user.expireDate, d = Date.now(); if (t==1 && e > d){ %>
                                              <span>Thành viên bạc</span>
                                            <% }else if (t==2 && e > d){ %>
                                              <span>Thành viên vàng</span>
                                            <% }else if (t==3 && e > d){ %>
                                              <span>Thành viên kim cương</span>
                                            <% } else{ %>
                                              <span>Thành viên thường</span>
                                            <% } %>
                                          </div>
                                          <div style="padding-left:3px;">
                                            <i class="fa fa-dollar"></i> <%= user.coin %> coin
                                          </div>
                                          <div id="seed">
                                            <% if (user.seed) { %>
                                            <button class="btn btn-success btn-sm"><i class="fa fa-dot-circle-o"></i> Seeding</button>
                                            <% } else { %>
                                            <button class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Off seed</button>
                                            <% } %>
                                          </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item"  id="account">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Tài khoản</a>
                                            </div>
                                            <div class="account-dropdown__item" id="setting">
                                              <a href="#">
                                                  <i class="zmdi zmdi-settings"></i>Cài đặt</a>
                                            </div>
                                            <div class="account-dropdown__item" id="addcoin">
                                              <a href="#">
                                                  <i class="zmdi zmdi-money-box"></i>Nạp coin</a>
                                            </div>
                                            <div class="account-dropdown__item<% if(user.userType>=3){ %> disabledDOM<% } %>" id="upgradeAccount">
                                              <a href="#">
                                                  <i class="fa fa-caret-square-o-up"></i>Nâng cấp tài khoản</a>
                                            </div>
                                            <% if(user.userType==4){ %>
                                            <div class="account-dropdown__item" id="admin">
                                              <a href="#">
                                                  <i class="fa fa-unlock-alt"></i>Trang Admin</a>
                                            </div>
                                            <% } %>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="/logout">
                                                <i class="zmdi zmdi-power"></i>Đăng xuất</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
          <div class="section__content section__content--p30">
            <div class="container-fluid" id="main-row">
              <div class="row">
                <div class="col-sm-8 col-lg-8" id="main-content"></div>
                <div class="col-sm-8 col-lg-4" id="advertisement">
                  <div class="card">
                    <div class="card-header">Mời quảng cáo</div>
                    <div class="card-body card-block">
                      Nội dung quảng cáo
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="copyright">
                    <p>Copyright © 2018 <a href="http://lotusmediaz.com/" target="_blank">Lotus Mediaz</a>. All rights reserved.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

  </div>

  <!-- Jquery JS-->
  <script src="/vendor/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap JS-->
  <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
  <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
  <!-- Vendor JS       -->
  <script src="/vendor/slick/slick.min.js"></script>
  <script src="/vendor/wow/wow.min.js"></script>
  <script src="/vendor/animsition/animsition.min.js"></script>
  <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
  <script src="/vendor/counter-up/jquery.counterup.min.js"></script>
  <script src="/vendor/circle-progress/circle-progress.min.js"></script>
  <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
  <script src="/vendor/select2/select2.min.js"></script>

  <!-- Main JS-->
  <script src="/js/main.js"></script>
  <script src="/js/index.js"></script>
  <% if(user.userType==4){ %><script src="/js/admin-ru48uucwajkn382.js"></script><% } %>
</body>
</html>
